<div class="page-header"><h1>New User</h1></div>

<%= form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control'%>
  </div>
   <%=f.nested_fields_for :photos do |photo|%>
    <%=photo.remove_nested_fields_link 'Remove'%>
    <%=photo.file_field :attachment, class: 'file'%>
    <div class="upload-preview">
      <!-- <img src="" style="width: 100px;"> -->
    </div>
   <%end%>
   <%=f.add_nested_fields_link :photos, 'Add Photo'%>
  <br/>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  //var preview = $(".upload-preview img");
  $(".file").change(function(event){
    console.log('hi');
    var input = $(event.currentTarget);
    var file = input[0].files[0];
    var reader = new FileReader();
    reader.onload = function(e){
      image_base64 = e.target.result;
      // preview.attr("src", image_base64);
      $(".upload-preview").append('<img src="' + image_base64 + '" style="width: 100px;"/>');
    };
    reader.readAsDataURL(file);
  });
</script>